<ion-header>
  <ion-toolbar>
    <ion-title class="title">Login</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="letras" position="floating">Nombre Usuario</ion-label>
    <ion-input Description="text" type="string" #name Placeholder="Juan Gallardo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="letras" position="floating">Contraseña</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <ion-button [routerLink]="['/inicio']" expand="full" color="success">Ingresar
  </ion-button>
  <ion-button [routerLink]="['/registrar']" expand="full" color="success">Registrarse
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="notificar(name, password)" color="success">
      <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="limpiar(name, password)" color="danger" slot="end">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>